/* Staff page card CSS

By Cameron Fleming - 20182242 */

.staff-wrapper > .staff-content {
    margin-left: 1.5%;
    box-shadow: 14px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgba(121, 121, 121, 0.116);
    width: fit-content;
    height: fit-content;
    float: left;
}

.staff-wrapper > .staff-content > .staff-information {
    margin: 10px;
    padding-bottom: 10px;
}

.staff-wrapper > .staff-content > .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
  
.staff-wrapper > .staff-content:hover .overlay {
    height: 100%;
}

.staff-wrapper > .staff-content > .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }