/* Used by pages with text */

.wrapper {
    display: flex;
    flex-flow: column;
    bottom: 0;
    background-image: url("../images/prism.png");
}

.content-wrapper {
    margin-left: 15%;
    display: inline-block;
    width: 70vw;
    height: fit-content;
    background-color: #2C2F33;
    box-shadow: 0 14px 18px 0 rgba(0,0,0,0.2);
    overflow: unset;
    margin-bottom: 10px;
    padding-bottom: 35px;
}

.content-wrapper > .header {
    font-size: 50px;
    text-align: center;
}

.content > p {
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 300;
    font-size: 14pt;
    letter-spacing: 1px;
    line-height: 30px;
}

/* Content page footer */

/* The footer is not displayed on the index page as it is just a ldning */

.footer {
    white-space: nowrap;
    padding-top: 5px;
    margin-top: 5px;
    bottom: 0;
    width: 100%;
    position: relative;
}

.footer > .left {
    padding-left: 10px;
    float: left;
}

.footer > .right {
    padding-right: 10px;
    float: right;
}

.footer a {
    color: lightgrey;
    text-decoration: none;
    transition: 0.5s;
}

.footer a:hover {
    color: white;
}

/* Customize anchors */

a {
    color: lightgrey;
    transition: 0.5s;
    text-decoration: underline;
}

a:hover {
    color: white;
}