/* Used by pages with text */

.wrapper {
    font-family: 'Rokkitt', serif;
    display: flex;
    flex-flow: column;
}

.content-wrapper {
    margin-left: 14%;
    width: 70%;
    height: 100%;
    background-color: #2C2F33;
    box-shadow: 0 14px 18px 0 rgba(0,0,0,0.2);
}

.content-wrapper > .header {
    font-size: 50px;
    text-align: center;
}

.content > p{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    letter-spacing: 1px;   
}

/* Content page footer */

/* The footer is not displayed on the index page as it is just a ldning */