/* Used by pages with text */

.wrapper {
    font-family: 'Rokkitt', serif;
    display: flex;
    flex-flow: column;
}

.content-wrapper {
    margin-left: 14%;
    width: 70%;
    height: 100%;
    background-color: #2C2F33;
    box-shadow: 0 14px 18px 0 rgba(0,0,0,0.2);
}

.content-wrapper > .header {
    font-size: 50px;
    text-align: center;
}

.content > p{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    letter-spacing: 1px;   
}

/* Content page footer */

/* The footer is not displayed on the index page as it is just a ldning */

.footer {
    white-space: nowrap;
    padding-top: 25px;
    margin-top: 10px;
    background-color: #1d2123;
    display: inline-block;
    width: 100%
}

.footer > .left {
    padding-left: 10px;
    float: left;
}

.footer > .right {
    padding-right: 10px;
    float: right;
}

.footer a {
    color: lightgrey;
    text-decoration: none;
    transition: 0.5s;
}

.footer a:hover {
    color: white;
}