/*
    CSS used on the careers page information panel.
    By Cameron Fleming (20182242)
*/

.info-pane {
    position: fixed; /* Stay in place */
    display: none;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: 0.5s;
}

/* Modal Content/Box */
.info-pane > .pane-content {
    background-color: #23272A;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #2C2F33;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Heading and sub-heading */
.info-pane > .pane-content > .info-pane-heading {
    text-decoration: underline;
}

.info-pane > .pane-content > .info-pane-subheading {
    color: lightgrey;
    font-style: italic;
    text-transform: capitalize;
}

/* Info page status */
.info-pane > .pane-content > .info-pane-status {
    float: right;
}