/* Body */
body {
    background-color: #23272A;
    color: white;
    padding: none;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Page header */
.header-wrapper {
    font-family: 'Staatliches', cursive;
    background-color: #ff7517;
}

.header {
    margin-left: 5;
}
/* Nav bar */

.nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    background-color: #2C2F33;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  
.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #ff7517;
}

.nav .selected {
    background-color: #3e3939
}